body{
    margin: 0;
}
.container{
display: grid;
grid-template-columns: repeat(4, 1fr);
height: 100vh;
}
.box{
border: 1px solid black;

}
.box1{
background-color: red;
}
.box2{
background-color: green;
}
.box3{
background-color: orange;
}
.box4{
background-color: purple;
}
.box5{
background-color: pink;
}
.box6{
background-color: blue;
}
.box7{
background-color: brown;
}
.box8{
background-color: linen;
}
.box9{
background-color: blueviolet;
}
.box10{
background-color: yellow;
}
.box11{
background-color: lightslategray;
}
.box12{
background-color: cyan;
}